Babel==2.5.3
blessings==1.6.1
bpython==0.17.1
cart==1.1.3
certifi==2018.1.18
chardet==3.0.4
curtsies==0.3.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.4
django-anymail==2.0
django-countries==5.2
django-extensions==2.0.6
django-phonenumber-field==2.0.0
django-toolbelt==0.0.1
djangorestframework==3.8.2
greenlet==0.4.13
gunicorn==19.7.1
idna==2.6
mysqlclient==1.3.12
phonenumbers==8.9.3
phonenumberslite==8.9.3
psycopg2==2.7.4
pycryptodome==3.5.0
Pygments==2.2.0
pytz==2018.4
requests==2.18.4
shortuuid==0.5.0
six==1.11.0
static3==0.7.0
typing==3.6.4
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.15.3
whitenoise==3.3.1
