{% extends 'base.html' %}
{% load static %}
    {% block content %}
         <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Title-->
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Checkout</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="/main_page">Home</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Checkout</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
        <form action="/checkout_complete/{{ uuid }}" method="post">
          {% csrf_token	%}
              <div class="container padding-bottom-3x mb-2">
                <div class="card text-center">
                  <div class="card-body padding-top-2x">
                    <h3 class="card-title">Thank you for your order!</h3>
                    <p class="card-text">Your order has been placed and will be processed as soon as possible.</p>
                    <p class="card-text">Make sure you make note of your order number, which is <span class="text-medium">{{ uuid }}</span></p>
                    <p class="card-text">You will be receiving an email shortly with confirmation of your order.
                      <u>You can now:</u>
                    </p>
                    <div class="padding-top-1x padding-bottom-1x"><button type="submit" class="btn btn-outline-secondary">Go Back Shopping</button><a class="btn btn-outline-primary" href="order-tracking.html"><i class="icon-location"></i>&nbsp;Track order</a></div>
                  </div>
                </div>
              </div>
        </form>
    {% endblock content %}