{% extends 'base.html' %}
{% load static %}
{% load extras %}
    {% block content %}
         <!-- Off-Canvas Wrapper-->
   <div class="offcanvas-wrapper">
      <!-- Page Title-->
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Checkout</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="/main_page">Home</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Checkout</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row">
          <!-- Checkout Adress-->

          <div class="col-xl-9 col-lg-8">
            <div class="checkout-steps"><a>3. Review</a><a><span class="angle"></span>2. Shipping</a><a class="active"><span class="angle"></span>1. Address</a></div>

            <div class="checkout-footer">
              <div class="column">If you already have an account</div>
              <div class="column"><a class="btn btn-primary" href="/account_login"><span class="hidden-xs-down button_continue">Login&nbsp;</span><i class="icon-arrow-right"></i></a></div>
            </div>

            <hr class="padding-bottom-1x">
              <h4>Shipping address</h4>
            <hr class="padding-bottom-1x">


                <form action="/checkout_address/{{ logged_user }}" method="post">
                  {% csrf_token	%}

                    <div class="row">
                        {% for field in user_form %}

                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }} {{ field.errors }}
                                </div>
                              </div>

                        {% endfor %}
                    </div>

                    <div class="checkout-footer">
                      <div class="column"><a class="btn btn-outline-secondary" href="/basket"><i class="icon-arrow-left"></i><span class="hidden-xs-down">Back To Cart</span></a></div>
                      <div class="column"><button type="submit" class="btn btn-primary"><span class="hidden-xs-down button_continue">Continue</span><i class="icon-arrow-right"></i></button></div>
                    </div>

                </form>



          </div>
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-ln">Last Name</label>#}
{#                  {{ form.last_name }}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="row">#}
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-email">E-mail address</label>#}
{#                    {{ form.email }}#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-phone">Phone Number</label>#}
{#                  {{ form.phone_number }}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="row">#}
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-company">Company</label>#}
{#                  {{ form.company }}#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-country">Country</label>#}
{#                  {{ form.country }}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="row">#}
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-city">City</label>#}
{#                  {{ form.city }}#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-zip">Postal Code</label>#}
{#                  {{ form.postal_code }}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="row padding-bottom-1x">#}
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-address1">Address 1</label>#}
{#                  {{ form.address1 }}#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-sm-6">#}
{#                <div class="form-group">#}
{#                  <label for="checkout-address2">Address 2</label>#}
{#                  {{ form.address2 }}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}

{#            <h4>Shipping Address</h4>#}
{#            <hr class="padding-bottom-1x">#}
{#            <div class="form-group">#}
{#              <div class="custom-control custom-checkbox">#}
{#                <input class="custom-control-input" type="checkbox" id="same_address" checked>#}
{#                <label class="custom-control-label" for="same_address">Same as billing address</label>#}
{#              </div>#}
{#            </div>#}


          <!-- Sidebar          -->
          <div class="col-xl-3 col-lg-4">
            <aside class="sidebar">
              <div class="padding-top-2x hidden-lg-up"></div>
              <!-- Order Summary Widget-->
              <section class="widget widget-order-summary">
                <h3 class="widget-title">Order Summary</h3>
                <table class="table">
                  <tr>
                    <td>Cart Subtotal:</td>
                    <td class="text-medium products-cost">{{ total_price_basket }} EUR</td>
                  </tr>
                  <tr>
                    <td>Shipping:</td>
                    <td class="text-medium shipping-cost">{{ shipping_cost }} EUR</td>
                  </tr>

{#                  <tr>#}
{#                    <td>Estimated tax:</td>#}
{#                    <td class="text-medium">$3.42</td>#}
{#                  </tr>#}

                  <tr>
                    <td>Total price</td>
                    <td class="text-lg text-medium shipping-total">{{ products_amount|total_shipping_price:shipping_cost }} EUR</td>
                  </tr>

                </table>
              </section>
              <!-- Featured Products Widget-->
              <section class="widget widget-featured-products">
                <h3 class="widget-title">Recently Viewed</h3>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="shop-single.html"><img src="{% static 'img/shop/widget/01.jpg' %}" alt="Product"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">Oakley Kickback</a></h4><span class="entry-meta">$155.00</span>
                  </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="shop-single.html"><img src="{% static 'img/shop/widget/02.jpg' %}" alt="Product"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">Top-Sider Fathom</a></h4><span class="entry-meta">$90.00</span>
                  </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="shop-single.html"><img src="{% static 'img/shop/widget/03.jpg' %}" alt="Product"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">Vented Straw Fedora</a></h4><span class="entry-meta">$49.50</span>
                  </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="shop-single.html"><img src="{% static 'img/shop/widget/04.jpg' %}" alt="Product"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">Big Wordmark Tote</a></h4><span class="entry-meta">$29.99</span>
                  </div>
                </div>
              </section>
              <!-- Promo Banner-->
              <section class="promo-box" style="background-image: url('/static/img/banners/02.jpg');"><span class="overlay-dark" style="opacity: .4;"></span>
                <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                  <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                  <h3 class="text-bold text-light text-shadow">Sunglasses</h3><a class="btn btn-outline-white btn-sm" href="shop-grid-ls.html">Shop Now</a>
                </div>
              </section>
            </aside>
          </div>
        </div>
      </div>
    {% endblock content %}